<h1> New Post Form </h1>

<!--may make this a private form just for me so I can add blog posts  -->
<!--which means that I would been to make a log in form that allowed me to be the only one to access it -->
